{% extends "__layout.html" %}
{% block content %}


</head>
<body>
<header>
    <h1>Обо мне</h1>
</header>
<div class="container ">
    <img class="imgs" src="static\images\me.jpg" alt="Моя фотография">
    <h2>Привет, меня зовут Марина</h2>
    
    <p> Я создатель этого сайта и я увлекаюсь программированием.</p>
    
    <h3>Образование</h3>
    <p>Я обучаюсь в «Иркутском национальном исследовательском техническом университете» по напровлению Информационные системы и технологии в административном управлении. </p>
    
    
    <h3>Контакты</h3>
    <p>Вы можете связаться со мной по электронной почте: <a href="mailto:your.email@example.com">aminovamarina2006@gmail.com</a></p>
    
    <h3>Социальные сети</h3>
    <p>
        <a href="https://vk.com/diamarin">ВКонтакте</a> | 

    </p>
</div>

{% endblock %}