{% extends "__layout.html" %}
{% block content %}


</head>
<body>
<header>
    <h1>Глоссарий</h1>
</header>
<div class="container">
    <h2>Основные термины</h2>
    <dl>
        <div id="Kardio">
        <dt>Кардио</dt>
        <dd> - это вид физических нагрузок, который способствует повышению пульса в определенных рамках, повышает кровообращение, заставляет сердце и легкие работать в усиленном режиме, что улучшает работу органов и укрепляет эластичность сосудов.</dd>
    </div>
        <dt>Силовые тренировки</dt>
        <dd> это комплекс спортивных упражнений с постоянным увеличением весовой нагрузки, направленный на укрепление скелетно-мышечной системы. </dd>

        <dt>Зумба</dt>
        <dd> — танцевальная фитнес-программа на основе популярных латиноамериканских ритмов.</dd>

        <dt>HIIT</dt>
        <dd>– это тренировка, основанная на чередовании непродолжительных высокоинтенсивных нагрузок и отдыха, во время которого выполняются восстановительные упражнения более низкой интенсивности. </dd>

        <dt>Йога</dt>
        <dd>совокупность психофизических практик, разработанных в различных направлениях индуизма и буддизма с целью достижения человеком возвышенного духовного и психического состояния.</dd>
        <dt>Пилатес</dt>
        <dd>система физических упражнений (фитнеса), разработанная Йозефом Пилатесом в начале XX века для реабилитации после травм.</dd>
    </dl>
</div>

{% endblock %}