    {% extends "__layout.html" %}
    {% block content %}

  <header>
    <h1> Ваш путь к идеальной форме начинается здесь!</h1>
</header>



  <figure>
    <blockquote class="blockquote">
      <p>Добро пожаловать на мой сайт. Тут я расскажу почему заниматься в тренажерном зале лучше чем дома</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">Даже если раньше никогда не получалось</cite>
    </figcaption>
  </figure>
  
    <img class="main-image-wrapper"; src="static\images\tren.jpg" alt="Фитнес центр">


<div >
  <p style="margin-top: 100px"></p>
</div>
<header>
  <h2>Почему лучше пойти в тренажерный зал </h2>
</header>
  <div class="guide-item-body">
      <div style="background-image:url(/upload/resize_cache/iblock/2f1/900_425_2d7a58ff99b324185ccb5ad5dfbdb5e85/2f1e5d3d55a00f412d8801517d3a75f7.jpg)" class="guide-item-body__image"></div>
      <div class="guide-item-body__content b-wysiwyg">

</div>

  <div class="row" >
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body main-image">
        <h5 class="card-title">Сообщество и мотивация</h5>
        <p class="card-text">- Тренажерный зал создает возможность общения с единомышленниками, что может быть мощной мотивацией для достижения целей. Вы можете найти партнера для тренировок, что делает занятия более интересными.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body main-image">
        <h5 class="card-title">Можете тренироваться в любое время</h5>
        <p class="card-text">Тренировки от 30 минут. Не тратьте время на дорогу, занимайтесь из любого места, без оборудования.</p>
      
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="  card-body main-image">
        <h5 class="card-title"> Доступ к разнообразному оборудованию</h5>
        <p class="card-text">- В тренажерном зале есть широкий выбор оборудования: кардиотренажеры (беговые дорожки, велотренажеры), силовые тренажеры и свободные веса, что позволяет заниматься на все группы мышц.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body  main-image">
        <h5 class="card-title">Разнообразие тренировок</h5>
        <p class="card-text">- Групповые занятия <a href="gloss"> (йога, пилатес, зумба и др.) </a>позволяют разнообразить тренировки и сделать их более увлекательными.</p>
      
      </div>
    </div>
  </div>
</div>
<blockquote class="blockquote">
  <p></p>
</blockquote>
<figcaption class="blockquote-footer">
  <cite title="Source Title">Современные <a class="link-opacity-100" href="tren">тренажеры</a>  помогут вам ускорить процесс накачивания мышц</cite>
</figcaption>



<header>
  <h2> Там есть </h2>
</header>

<div class="card mb-3" style="max-width: 940px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img  src="static\images\index_tren.avif" class="img-fluid rounded-start" alt="Фитнес">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Тренажерный зал</h5>
        <p class="card-text"> Современные тренажерные залы оборудованы высококачественными  <a href="gloss"></a>кардио и  <a href="gloss"></a>силовыми тренажерами от ведущих мировых производителей. Просторные залы создают комфортные условия для тренировок, что позволяет заниматься как новичкам, так и опытным спортсменам. В таких залах всегда готовы помочь опытные тренеры, которые могут составить индивидуальные программы тренировок и проконтролировать технику выполнения упражнений, обеспечивая безопасность и максимальную эффективность занятий.</p>
       
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 940px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static\images\group-people-taking-break-gym_23-2148371747.avif" class="img-fluid rounded-start" alt="Групповые занятия">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> Групповые занятия</h5>
        <p class="card-text">Групповые фитнес-занятия подходят для людей с разным уровнем подготовки и различными интересами. От энергичной  <a href="gloss">Зумбы</a> и динамичного  <a href="gloss">HIIT</a> до спокойной  <a href="gloss">йоги</a> и укрепляющего  <a href="gloss">пилатеса</a> – обычно предусмотрен разнообразный выбор программ, чтобы каждый мог достичь своих фитнес-целей.</p>
       
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 940px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static\images\index_pers.avif" class="img-fluid rounded-start" alt="Персональные занятия">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"> Персональные занятия</h5>
        <p class="card-text">Достигните своих фитнес-целей быстрее и эффективнее с персональным тренером.  Сертифицированные специалисты разработают индивидуальный план тренировок, учитывающий ваши потребности и возможности, обеспечивая профессиональное руководство и поддержку на каждом этапе.</p>
       
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 940px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="static\images\index_pool.avif" class="img-fluid rounded-start" alt="Бассейн">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">  <a class="link-opacity-100" href="pool">Бассейн</a> </h5>
        <p class="card-text">Наш бассейн — идеальное место для отдыха и поддержания физической формы. Чистая вода, комфортная температура и уютная атмосфера создадут прекрасные условия для плавания.</p>
       
      </div>
    </div>
  </div>
</div>

  
<footer>
  <p>&copy;2024</p>
  <p> Связаться с автором: aminovamarina2006@gmail.com</p>

</footer>
   

    {% endblock %}
    