{% extends "__layout.html" %}
{% block content %}

<footer>
  <h1>Отдохните и позаботьтесь о своем здоровье в  бассейне!</h1>
 </footer>
  <figure>
    <blockquote class="blockquote">
      <p>Чистая вода, комфортная атмосфера, идеальное место для плавания и релаксации.</p>
    </blockquote>


    <div class="card mb-3">
        <img src="static\images\pool.avif" class="card-img-top" alt="pool">
        <div class="card-body">

          <p class="card-text">Плавание — один из самых эффективных и приятных способов поддержания физической формы. Наш бассейн [размер, например: 25 метров] предлагает идеальные условия для тренировок и отдыха. Мы поддерживаем кристальную чистоту воды, комфортную температуру и уютную атмосферу, чтобы каждый ваш визит был приятным и полезным.</p>
          <p class="card-text"><small class="text-muted">Плавание является тем видом спорта, который лучше всего сжигает калории.</small></p>
        </div>
      </div>


      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Чистейшая вода
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body column" >
              Современные системы фильтрации и очистки гарантируют чистоту и безопасность воды. Здоровье и безопасность посетителей — главный приоритет. Передовые технологии полностью исключают наличие вредных примесей и микроорганизмов. Чистая вода в бассейне обеспечивает комфортное и безопасное плавание без риска для здоровья.
              
              <img style="max-width: 340px;"  src="static\images\clean_wother.avif" class="rounded float-start" alt="pool">
            
          </div>
          
            </div>
        </div>

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Комфортная температура
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body column">
                Забудьте о дискомфорте от слишком холодной или слишком горячей воды! Температура в бассейне была идеально комфортной для каждого посетителя. Вы сможете полностью расслабиться и насладиться плаванием без каких-либо неприятных ощущений. Температура воды поддерживается на оптимальном уровне для комфортного плавания.
                
              </div>
            </div>
          </div>

          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Удобные раздевалки
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body column">
                  Раздевалки спроектированы с учетом всех ваших потребностей. Просторные индивидуальные шкафчики с ключами, удобные скамейки для переодевания, душевые кабины с современным оборудованием – все это обеспечит вам максимальный комфорт и удобство.  Просторные и чистые раздевалки с душевыми кабинами обеспечат вам удобство и комфорт.
                
                </div>


              </div>
              
            </div>

            <footer>
              <p>&copy; 2024</p>
            </footer>


{% endblock %}