{% extends "__layout.html" %}
{% block content %}


</head>
<body>

<div class="container">
<h1>Начни ходить в спортзал уже сегодня!</h1>

<h2>Почему стоит сделать первый шаг именно сейчас?</h2>
<ul>
  <li><strong>Никогда не бывает "правильного времени"</strong> - каждый день — это шанс начать что-то новое.</li>
  <li><strong>Польза для здоровья</strong> - снизьте риск заболеваний и улучшите общее состояние.</li>
  <li><strong>Крепкие привычки формируются постепенно</strong> - начните сейчас, чтобы быстрее привыкнуть к физическим нагрузкам.</li>
  <li><strong>Скоро лето/новый год/особые события</strong> - подготовьтесь к важным событиям заранее.</li>
  <li><strong>Повышение самооценки</strong> - каждое достижение укрепляет уверенность в себе.</li>
  <li><strong>Социальные возможности</strong> - знакомьтесь с новыми людьми в зале.</li>
  <li><strong>Здоровый способ справляться со стрессом</strong> - тренировки помогают снизить уровень стресса.</li>
  <li><strong>Доступ к профессиональным тренерам</strong> - получайте помощь и советы с первого дня.</li>
  <li><strong>Индивидуальные цели и программа</strong> - разработайте свой собственный план тренировок.</li>
  <li><strong>Выбор и разнообразие тренировок</strong> - найдите то, что вам действительно нравится.</li>
</ul>

<h2>Сделайте первый шаг!</h2>
<p>Ваш путь к здоровью и хорошему самочувствию начинается здесь.Начните менять свою жизнь к лучшему уже сегодня!</p>
</div>

<footer>
© 2024
</footer>

{% endblock %}